<ion-view view-title="Edit Light" ng-controller="LightCtrl as lightboard">
	<style scoped>
		.selector { padding-left:0px; max-width:100%!important; }
		.stripped { padding:0px; }
		.stripped-vertical { padding-top:0px; padding-bottom:0px; }
		.stripped-horizontal { padding-left:0px; padding-right:0px; }
	</style>
	<ion-content ng-class="{expanded:isExpanded}" class="padding animate-blinds">
		<!-- <ion-refresher pulling-text="Pull to refresh..." on-refresh="lightboard.refreshpage()"></ion-refresher> -->
		<ul class="list">
			<li class="item item-toggle" style="text-align:left">
				<div class="col col-40">
					<h3><b>Status: {{ (lightboard.light.state) ? 'On':'Off' }}</b></h3>
				</div>
				<div class="col col-60">
					<label class="toggle toggle-balanced">
						<input type="checkbox" ng-model="lightboard.light.state" ng-click="setstate(lightboard.light)">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</div>
			</li>
			<li class="item row" style="text-align:left; padding-left:16px;">
				<div class="col col-40">
					<h3><b>Schedule:</b></h3>
				</div>
				<div class="col col-60">
					<label class="item item-input item-select stripped">
						<select disabled ng-model="lightboard.task.id" ng-change="updateTask(lightboard.task.id, '{{lightboard.task.id}}')" class="selector">
							<!-- <option value="{{null}}">Manual</option> -->
							<option ng-repeat="task in lightboard.tasks" value="{{task.id}}">{{task.name}}</option>
						</select>
					</label>
				</div>
			</li>
			<hr>
			<div class="item">
				Scheduling Details
			</div>
			<li class="item item-icon-left item-icon-right">
				<style scoped>
					.nostyle {
    				color: #272829;
    				text-decoration: none !important;
					}
					.item-icon-left .icon, .item-icon-right .icon{
						top : -10px;
					}
				</style>
				<a href="#/app/schedule/{{lightboard.task.id}}" class="nostyle" ng-show="lightboard.task.id != null">
					<div>
						<i class="icon ion-ios-alarm" ng-class="{'balanced':lightboard.task.state, 'assertive':!lightboard.task.state}"></i>
						<h2><b>{{lightboard.task.name}}</b></h2>
						<h3>{{lightboard.task.ontime.text}} - {{lightboard.task.offtime.text}}</h3>
						<h3>{{lightboard.task.days.text}}</h3>
						<i class="icon ion-ios-arrow-forward nostyle"></i>
					</div>
				</a>
				<h2 ng-show="lightboard.task.id == null">Manual Control</h2>
			</li>
			<hr>
		</ul>
	</ion-content>
</ion-view>