<ion-view view-title="Lights" ng-controller="LightsCtrl as lightsboard">
	<ion-content class="padding">
		<!-- <ion-refresher pulling-text="Pull to refresh..." on-refresh="lightsboard.refreshpage()"></ion-refresher> -->
		<br/>
		<div class="button-bar row">
			<style scoped>
				.button-bar > .button{
					padding: 5px 16px;
				}
			</style>
			<!-- <a class="button button-assertive button-large col-50" ng-click="allOn()">All ON</a>
		    <a class="button button-dark button-large col-50" ng-click="allOff()">All OFF</a> -->
		</div>
		<br/>
		<br/>
		<br/>
		<ion-list>
			<div ng-repeat="room in lightsboard.rooms" ng-last-repeat="rooms">
			<!-- <h4><b>{{room.name}}</b></h4> -->
				<div class="button-bar row">
					<style scoped>
						.button-bar > .button{
							padding: 5px 16px;
						}
					</style>
					<a class="button button-assertive button-small col-33" ng-click="allOn()">All ON</a>
				    <a class="button button-light button-small col-33">{{room.name}}</a>
				    <a class="button button-dark button-small col-33" ng-click="allOff()">All OFF</a>
				</div>
				<br/>
				<div class="item row" ng-repeat="light in room.lights" ng-last-repeat="lights">
					<li class="item row"> 
			            <a class="col col col-80" href="#/app/light/{{light.id}}" style="text-decoration: none;"> 
			              <span style="text-align:left;"><h2>{{light.name}}</h2></span> 
			            </a class="col col col-20"> 
			            <div> 
			              <label class="toggle toggle-assertive"> 
			                <input type="checkbox" ng-model="light.state" ng-change="update_state(light)"> 
			                <div class="track"> 
			                  <div class="handle"></div> 
			                </div> 
			              </label> 
			            </div> 
			        </li> 
				</div>
			</div>
		</ion-list>
	</ion-content>
</ion-view>