<ion-view view-title="Schedules" ng-controller="SchedulesCtrl as schedulesboard">
	<ion-content ng-class="{expanded:isExpanded}" class="padding animate-blinds">
		<!-- <ion-refresher pulling-text="Pull to refresh..." on-refresh="schedulesboard.refreshpage()"></ion-refresher> -->
		<br/>
		<ion-list>
			<div class="item item-icon-left item-icon-right" ng-repeat="task in schedulesboard.schedules" ng-last-repeat="tasks">
				<style scoped>
					.nostyle {
    				color: #272829;
    				text-decoration: none !important;
					}
					.item-icon-left .icon, .item-icon-right .icon{
						top : -10px;
					}
				</style>
				<a href="#/app/schedule/{{task.id}}" class="nostyle">
					<div>
						<i class="icon ion-ios-alarm" ng-class="{'balanced':task.state, 'assertive':!task.state}"></i>
						<h2><b>{{task.name}}</b></h2>
						<h3>{{task.ontime.text}} - {{task.offtime.text}}</h3>
						<h3>{{task.days.text}}</h3>
						<i class="icon ion-ios-arrow-forward nostyle"></i>
					</div>
				</a>
			</div>
			<br/>
		</ion-list>
	</ion-content>
</ion-view>
