<style scoped>
	.button-micro { width: 100%; padding: 0px 7px; }
	.day {
		border-radius: 15px;
		min-width: 30px!important;
		max-width: 30px!important;
		min-height: 30px!important;
		max-height: 30px!important;
		/*padding: 5px 0px 0px 9px!important;*/
	}
	.day-off {
		color: black;
	}
	.day-on {
		background-color: green;
		color: white;
	}
</style>
<div class="item stripped-vertical">
	<h3>Days</h3><br>
	<div class="row">
		<div class="col" ng-repeat="i in [0,1,2,3]">
			<a class="day button button-micro" ng-click="toggleDay(i)"
			ng-class="{'button-balanced':(days[i]&&isActive),'button-assertive':(days[i]&&!isActive), 'button-light':(!days[i])}">
				{{microLabels[i]}}
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col" ng-repeat="i in [4,5,6]">
			<a class="day button button-micro" ng-click="toggleDay(i)"
			ng-class="{'button-balanced':(days[i]&&isActive),'button-assertive':(days[i]&&!isActive), 'button-light':(!days[i])}">
				{{microLabels[i]}}
			</a>
		</div>
		<div class="col"></div>
		<div class="col"></div>
		<div class="col"></div>
	</div>
</div>
<!-- <div class="button-bar">
	<a class="button" ng-class="{'button-stable':!days[1], 'button-balanced':[1]}">Mon</a>
	<a class="button" ng-class="{'button-stable':!days[2], 'button-balanced':[2]}">Tue</a>
	<a class="button" ng-class="{'button-stable':!days[3], 'button-balanced':[3]}">Wed</a>
	<a class="button" ng-class="{'button-stable':!days[4], 'button-balanced':[4]}">Thu</a>
	<a class="button" ng-class="{'button-stable':!days[5], 'button-balanced':[5]}">Fri</a>
</div>
<div class="button-bar">
	<a class="button" ng-class="{'button-stable':!days[6], 'button-balanced':[6]}">Sat</a>
	<a class="button" ng-class="{'button-stable':!days[0], 'button-balanced':[0]}">Sun</a>
</div> -->