.rightside-content {
	height: 100vh!important;
}

.leftside-content {
	height: 100vh!important;
}

.leftside-footer {
	z-index: 999;
	background-color: #aa0000;
}

.leftside-footer .button-assertive {
	background-color: #aa0000;
}

.rightside-footer {
	z-index: 999;
	background-color: #aa0000;
}

.rightside-footer .button-assertive {
	background-color: #aa0000;
}

.assertive-900-bg, .assertive-900-bg.activated, .assertive-900-bg:active, .assertive-900-bg:hover, .assertive-900-border, .assertive-900-border.activated, .assertive-900-border:active, .assertive-900-border:hover, .bar .button-assertive-900, .bar .button-assertive-900.activated, .bar .button-assertive-900:active, .bar .button-assertive-900:hover, .bar-assertive-900, .bar-assertive-900.activated, .bar-assertive-900:active, .bar-assertive-900:hover, .button-assertive-900, .button-assertive-900.activated, .button-assertive-900:active, .button-assertive-900:hover, .button-bar-assertive-900, .button-bar-assertive-900.activated, .button-bar-assertive-900:active, .button-bar-assertive-900:hover, .header-assertive-900, .header-assertive-900.activated, .header-assertive-900:active, .header-assertive-900:hover {
	height: 50px
}
.allign-parent {
	display: table;
	text-align: center!important;
}
.allign-child {
	display: table-cell;
	vertical-align: middle!important;
}
.menu-open .bar.bar-header.expanded {
	background-position: -1;
	background-size: -100%;
}
.has-expanded-header {
	top: 106px!important;
}
.item-divider{
	padding-top: 4px;
}

.list .item {
	text-align: center;
}

.button.button-assertive {
	background-color:#aa0000;
}

.settings-content{
	text-align: left;
}

.fab-home{
	position:relative; 
	left:20px; 
	top:-20px;
}

.fab-home2{
	position:relative; 
	left:20px; 
	top:20px;	
}

.fab-apply{
	position:relative; 
	left:40px; 
	top:20px;	
}